In [2]:
#Paquetes utilizados
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import numpy as np
from statsmodels.tsa.stattools import adfuller
from pandas import Series
import matplotlib as mpl
from statsmodels.tsa import seasonal
import zipfile
import os

# Bonificación 1 - Suavización Exponencial

En este ejercicio estaremos analizando el comportamiento de la energía producida en turbinas de gas a partir de señales de entrada. Para ello, se tienen 6 series de tiempo de training y 2 de testing. Cada serie de tiempo que se desea testear tiene un comportamiento distinto, uno rectangular y una continua.

Estaremos probando 4 modelos de pronóstico que son suavización exponencial de primer y segundo orden, de segundo orden con actualización de factor de descuento y por último Holt-Winters para cada una de las series de training. El objetivo es encontrar la serie de training y el modelo que permita explicar de mejor manera cada serie de testing.

El criterio de aceptación en este caso será el RMSE (Raíz del error cuadrático medio).

In [7]:
with zipfile.ZipFile('train.zip','r') as zip_ref:
    zip_ref.extractall('data/')

In [8]:
with zipfile.ZipFile('test.zip','r') as zip_ref:
    zip_ref.extractall('data/')

In [12]:
train1=pd.read_csv('data/train/ex_9.csv')
train2=pd.read_csv('data/train/ex_23.csv')
train3=pd.read_csv('data/train/ex_20.csv')
train4=pd.read_csv('data/train/ex_21.csv')
train5=pd.read_csv('data/train/ex_1.csv')
train6=pd.read_csv('data/train/ex_24.csv')

In [13]:
train5

             time  input_voltage     el_power
0       810.07028             10  1228.791720
1       811.06938             10  1223.041745
2       812.06848             10  1244.960866
3       813.06758             10  1229.259058
4       814.06668             10  1248.117024
...           ...            ...          ...
9915  10716.66218              3   962.030262
9916  10717.66128              3   963.213626
9917  10718.66038              3   947.956869
9918  10719.65948              3   944.314505
9919  10720.65858              3   968.184917

[9920 rows x 3 columns]

In [ ]:
djia_ts = pd.Series(data=['el_power'].values, index=djia_df.index)
plt.rcParams['text.usetex'] = True
plt.figure()
djia_ts.plot(color='b')
plt.title('Dow Jones Industrial Average between Jan 2016 - Dec 2016')
plt.xlabel('Time')
plt.ylabel('Closing Value');